@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, "Poppins", sans-serif;
  } 

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

p {
  color: #34495e;
  line-height: 1.6;
  margin-bottom: 1rem;
}

ul, ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

ul li, ol li {
  margin-bottom: 0.5rem;
  color: #34495e;
}

a:hover {
  color: rgb(113, 113, 113);
}

pre {
  overflow: auto;
  border-radius: 0.375rem;
}

main {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* optional todo: device preferred colour scheme. */
/* @media (prefers-color-scheme: dark) {

} */

html.dark {
  h1, h2, h3, h4 , h5 {
    color: #F7F7F8;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  
  h3 {
    color: #d0d0d4;
    font-size: 1.75rem;
    font-weight: 500;
  }

  h4, h5 {
    color: #c9c9c9;
  }
  
  p {
    color: #B6B9C0;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  ul, ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }
  
  ul li, ol li {
    margin-bottom: 0.5rem;
    color: #d0d0d4;
  }
  
  a:hover {
    color: rgb(113, 113, 113);
  }
  
  pre {
    overflow: auto;
    /* 245, 197, 172 */
  }
  code {
    color: #7261B8;
  }
}

.dark .nav-links a {
  color: #fff;
}
