---
import Header from '../components/Header.astro';
import Layout from '../layouts/BlogLayout.astro';
import "../styles/global.css";
---
<Header />
<Layout>
<body>
	<a href="/index">index</a>
	<a href="/about/">About</a>
	<h1>About Me</h1>
	<h2>... and my new Astro site!</h2>
  
	<p>My about page!!</p>
  
	<p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
	<h1 class="text-3xl font-bold underline">
		Hello world!
	  </h1>
  </body>

</Layout>