---
// import { BASE_PATH } from 'constants.js';
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
// import { Image } from "astro:assets";
// import bulb from "../images/bulboff.jpg";

// import logo from "../images/MClight.png";
// import car from "../images/car.png";
// import circle from "../images/circle.png";
// import Welcome from "../components/Welcome.astro";
---

<script src="../components/scripts/animations.js"></script>
<!-- <Welcome /> -->
<Header />
<Layout>
	<!-- <Image src={back} alt="background" class="min-h-screen bg-center w-full h-full"/> -->
	<body class="text-gray-900">
		<main class="container mx-auto m-60 px-8 space-y-80 text-8xl">
		  <section class="reveal-section">
			<p>Welcome to my Github Page.</p>
		  </section>
		  <section class="reveal-section">
			<p>The possibilities with web development is endless.</p>
		  </section>
		  <section class="reveal-section">
			<p>In this github page, I am the artist.</p>
		  </section>
		  <section class="reveal-section">
			<p>I can make things appear.</p>
		  </section>
		  <section class="reveal-section">
			<p>Or dissappear.</p>
		  </section>
		  <section class="reveal-section">
			<p> The only limit</p>
		  </section>
		  <section class="reveal-section">
			<p>is my creativity.</p>
		  </section>
		</main>
		<!-- add a div spacer -->
		<div class="spacer py-24"></div>
	  </body>
</Layout>
