---
// import { BASE_PATH } from 'constants.js';
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<script src="../components/scripts/gsap/reveal.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		window.addEventListener("load", function () {
			// Get the height of the header section
			const headerHeight =
				document.getElementById("headerSection")?.offsetHeight ?? 0;

			// Scroll down by the height of the header
			window.scrollTo({
				top: headerHeight,
				behavior: "smooth",
			});
		});
	});
</script>
<!-- <Welcome /> -->
<Header />
<Layout>
	<!-- <Image src={back} alt="background" class="min-h-screen bg-center w-full h-full"/> -->
	<body class="overflow-x-hidden">
		<main class="container mx-auto px-4 sm:px-8 md:px-16 xl:px-32 space-y-[50%] mt-[20%] text-5xl sm:text-4xl md:text-6xl lg:text-7xl text-center">
			<section class="reveal-section">
			  <p>Welcome to my Github Page.</p>
			</section>
			<section class="reveal-section">
			  <p>The possibilities with web development is endless.</p>
			</section>
			<section class="reveal-section">
			  <p>In this Github page, I am the artist.</p>
			</section>
			<section class="reveal-section">
			  <p>I can make things appear.</p>
			</section>
			<section class="reveal-section">
			  <p>Or disappear.</p>
			</section>
			<section class="reveal-section">
			  <p>The only <a class="font-bold">limit</a></p>
			</section>
			<section class="reveal-section">
			  <p>is my <a class="font-bold">creativity.</a></p>
			</section>
			<div class="spacer py-10"></div>
		  </main>
		<!-- add a div spacer -->
	</body>
</Layout>
