---
// import { BASE_PATH } from 'constants.js';
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import pikachu from "../images/pikachu.jpg";
import upArrow from "../images/upArrow.png";
---

<script src="../components/scripts/gsap/reveal.js"></script>
<script>
	/* I have stopped using this and switched to GSAP for the same/ better effect.
	// The showOrHideHeader.js file contains a check for when this file is loaded and then runs the hideHeader function!
	//this code is kept because im testing if the gsap method causes performance issues.
	document.addEventListener("DOMContentLoaded", () => {
		window.addEventListener("load", function () {
			// Get the height of the header section
			const headerHeight =
				document.getElementById("headerSection")?.offsetHeight ?? 0;

			// Scroll down by the height of the header
			window.scrollTo({
				top: headerHeight,
				behavior: "smooth",
			});
		});
		// hide the header when page loads
		document.querySelector("#mainHeader")?.classList.toggle("hidden");
		document.querySelector("#secondHeader")?.classList.toggle("hidden");
		document.querySelector("#showBtn")?.classList.toggle("hidden");
	 }); */
</script>

<Header />
	<Layout>
		<body class="overflow-x-hidden">
			<main
				id="mainElement"
				class="h-screen snap-y snap-mandatory overflow-y-scroll px-4 sm:px-8 md:px-16 xl:px-32 text-5xl sm:text-4xl md:text-6xl lg:text-7xl"
			>
				<a id="top"></a>
				<section
					id="welcome"
					class="min-h-screen flex items-center justify-center snap-center"
				>
					<p>Welcome to my Github Page.</p>
				</section>
				<section
					id="poss"
					class="min-h-screen flex flex-col items-center justify-center snap-center"
				>
					<p>The possibilities with web development are endless.</p>
				</section>
				<section
					class="min-h-screen flex items-center justify-center snap-center"
				>
					<p>In this page, I am the artist.</p>
				</section>
				<section
					class="min-h-screen flex flex-col items-center justify-center snap-center"
				>
					<p id="appear">I can make things appear.</p>
					<Image
						id="pikachu"
						src={pikachu}
						alt="pikachu"
						height="500"
						class="border-8 border-gray rounded-lg"
					/>
				</section>
				<section
					id="disappear"
					class="min-h-screen flex items-center justify-center snap-center"
				>
					<p>Or disappear.</p>
				</section>
				<section
					class="min-h-screen flex items-center justify-center snap-center"
				>
					<p>The only <a class="font-bold">limit</a></p>
				</section>
				<section
					class="min-h-screen flex flex-col items-center justify-center snap-center"
				>
					<p>is my <a class="font-bold" id="txtCreativity"> creativity </a></p>
					<Image
						src={upArrow}
						alt="up arrow"
						id="scrollButton"
						width="60"
						height="60"
						class="mt-20 opacity-60 hover:opacity-80"
					/>
				</section>
				<div class="spacer py-10"></div>
			</main>
		</body>
	</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";
	gsap.registerPlugin(ScrollTrigger);
	document.addEventListener("DOMContentLoaded", () => {
		const scrollButton = document.getElementById("scrollButton");

		// Ensure that ScrollToPlugin is registered with GSAP
		gsap.registerPlugin(ScrollToPlugin);

		scrollButton?.addEventListener("click", () => {
			gsap.to("main", {
				duration: 1.5, // Duration of scroll
				scrollTo: { y: 0, autoKill: true }, // Scroll to the top of the page
				ease: "power2.out", // Easing function
			});
		});
	});
</script>
