<section id="container">
    <div id="header">
        <a href="/MC-site/">Home</a>
        <a href="/MC-site/about/">About</a>
        <a href="/MC-site/blog/HowToPZServer"
            >Oracle Cloud Free Project Zomboid Server
        </a>
    </div>

    <div id="lowerHeader">
        <p> Check out my latest blog post: <a href="/MC-site/blog/HowToPZServer"> How to create a free project zomboid server using Oracle Cloud's free tier services</a></p>
    </div>
</section>

<style>
    #header {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 2.2%;
        border-radius: 8px; 
        text-align: center;
    }

    #header a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
    }

    #header a:hover {
        text-decoration: underline;
    }
    
    #lowerHeader {
        text-align: center;
        padding-bottom: 0.3%;
        padding-top: 0.3%;
    }
    #lowerHeader a {
        text-decoration: none;
    }

    #lowerHeader a:hover {
        text-decoration: underline;
    }

    #container {
        margin: 1% 5%;
        background: rgb(235,158,128);
        border-radius: 12px; 
        font-size:large
    }
</style>
