---
import { Image } from "astro:assets";
import lightLogo from "../images/MClight.png";
---

<section class="max-w-full mx-auto bg-blend-color text-lg rounded-b-3xl divide-y divide-gray-200 bg-[#FEF9F8]">
    <div
        class=" text-black py-8 relative flex items-center justify-center"
    >
        <div class="absolute left-5 hidden md:block">
            <Image src={lightLogo} alt="logo" class="max-w-[20%]" />
        </div>

        <nav class="space-x-4">
            <a href="/" class="relative px-4 py-2 hover:bg-gray-300 rounded-full transition-all duration-300">Home WIP</a>
            <a href="/about/" class="relative px-4 py-2 hover:bg-gray-300 rounded-full transition-all duration-300">About WIP</a>
            <a href="/blog/HowToPZServer" class="relative px-4 py-2 hover:bg-gray-300 rounded-full transition-all duration-300">
                Blog
            </a>
            
        </nav>
        <!-- To be implemented -->
        <nav class="absolute right-5">
            <!-- <a href="/MC-site/" class="hover:underline">WIP</a> -->
        </nav>
    </div>
    <div class="text-center pb-1 pt-3 border-b-gray-200 border-b-1 w-3/4 mx-auto">
        <p>
            Check out my latest blog post:
            <a href="/MC-site/blog/HowToPZServer" class="hover:underline">
                How to create a free Project Zomboid server using Oracle Cloud's
                free tier services
            </a>
        </p>
    </div>
</section>
