---
import { Image } from "astro:assets";
import lightLogo from "../images/MCdark.png";
---

<section class="max-w-full mx-auto bg-[#EB9E80] text-lg rounded-b-3xl">
    <div
        class="bg-[#0d0d0d] text-white py-8 relative flex items-center justify-center"
    >
        <div class="absolute left-5">
            <Image src={lightLogo} alt="logo" class="max-w-[20%]" />
        </div>

        <nav class="space-x-4">
            <a href="/MC-site/" class="hover:underline">Home</a>
            <a href="/MC-site/about/" class="hover:underline">About</a>
            <a href="/MC-site/blog/HowToPZServer" class="hover:underline">
                Oracle Cloud Free Project Zomboid Server
            </a>
        </nav>
        <!-- To be implemented -->
        <nav class="absolute right-5">
            <!-- <a href="/MC-site/" class="hover:underline">WIP</a> -->
        </nav>
    </div>

    <div class="text-center pb-1 pt-3">
        <p>
            Check out my latest blog post:
            <a href="/MC-site/blog/HowToPZServer" class="hover:underline">
                How to create a free Project Zomboid server using Oracle Cloud's
                free tier services
            </a>
        </p>
    </div>
</section>
