---
import ThemeIcon from "../components/ThemeIcon.astro";
---
<script src="../components/scripts/gsap/showOrHideHeader.js"></script>
<!-- bg-[#040712] -->
<section
    id="headerSection"
    class="max-w-full mx-auto text-lg rounded-b-3xl divide-y divide-gray-200 bg-[#FEF9F8] dark:bg-[#040712]"
>
    <div id="mainHeader">
        <div class="text-black py-4 grid grid-flow-col grid-rows-auto md:flex justify-center space-x-4 md:relative text-center items-center">
            <!-- This is a fun but unpractical way of making the logo change without any javascript. -->
            <ul
                class="absolute left-5 hidden md:block before:absolute before:left-0 before:top-0 before:w-16 before:h-16 before:bg-no-repeat before:bg-contain before:content-[''] before:block before:z-10 dark:before:bg-[url('../images/MCdark.png')] before:bg-[url('../images/MClight.png')]"
            >
                <li></li>
            </ul>
                <nav class="space-y-4 text-center sm:space-y-0 flex flex-col sm:flex-row dark:text-white sm:relative">
                <a
                    href="/"
                    class="px-4 hover:bg-gray-300 rounded-full transition-all duration-300"
                    >Home</a
                >
                <a
                href="/stocks/"
                class="px-4 hover:bg-gray-300 rounded-full transition-all duration-300"
                >Stocks</a
            >
                <a
                    href="/blog/HowToPZServer"
                    class="px-4 hover:bg-gray-300 rounded-full transition-all duration-300"
                >
                    Blog
                </a>
                <a
                    href="/playground/"
                    class="px-4 hover:bg-gray-300 rounded-full transition-all duration-300"
                >
                    Playground
                </a>
            </nav>
            
            <div id="settings" class="md:right-5 md:absolute flex flex-col space-y-4 space-x-1 md:block text-right z-10 border-l-4 border-gray-200 dark:border-white md:border-none pl-4 md:pl-6">
                <button
                    type="button"
                    id="hideBtn"
                    class="font-bold text-center items-center align-bottom mt-2 hover:bg-gray-300 dark:hover:text-gray-500 rounded-full transition-all duration-300 dark:text-white"
                >
                    Hide
                </button>
                <ThemeIcon />
            </div>
        </div>
    </div>
    <div
        id="secondHeader"
        class="text-center border-b-gray-200 border-b-1 w-3/4 mx-auto mt-4"
    >
        <p class="hidden md:block">
            Check out my latest blog post:
            <a href="/blog/HowToPZServer" class="hover:underline">
                How to create a free Project Zomboid server using Oracle Cloud's
                free tier services
            </a>
        </p>
    </div>
</section>
<button
    type="button"
    id="showBtn"
    class="font-bold text-black dark:text-white hover:bg-gray-300 top-5 right-0 mr-6 absolute rounded-full transition-all duration-300 hidden z-10"
>
    Show
</button>

