<div class="min-h-screen w-full bg-teal-400 font-sans flex place-items-center place-content-center">
    <div class="flex items-center justify-center w-full">
      <div class="relative bg-white w-full max-w-xl rounded-lg">
        <div class="rounded-lg overflow-hidden">
        <p class="px-4 py-2 uppercase text-sm font-semibold text-gray-600">Select the user</p>
        <div class="p-2 bg-gray-400 rounded-t-lg">
          <input class="block w-full rounded-lg border px-4 py-2" />
          <div class="mt-3 -mx-2 w-full z-10 absolute border rounded-lg shadow bg-white">
            <p class="py-2 px-4 hover:bg-gray-200 cursor-pointer">User 1</p>
            <p class="py-2 px-4 hover:bg-gray-200 cursor-pointer">User 2</p>
            <p class="py-2 px-4 hover:bg-gray-200 cursor-pointer">User 3</p>
            <p class="py-2 px-4 hover:bg-gray-200 cursor-pointer">User 4</p>
            <p class="py-2 px-4 hover:bg-gray-200 cursor-pointer">User 5</p>
            <p class="py-2 px-4 hover:bg-gray-200 cursor-pointer">User 6</p>
            <p class="py-2 px-4 hover:bg-gray-200 cursor-pointer">User 7</p>
            <p class="py-2 px-4 hover:bg-gray-200 cursor-pointer">User 8</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>