<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Marcus's Github Page</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6164995761724989"
     crossorigin="anonymous"></script>
  </head>
  <!-- <script>
    if (localStorage.getItem('theme') === 'dark') {
      document.documentElement.classList.add('dark');
    }
  </script> -->
  <body class="text-left bg-[#e3f3f6] dark:bg-[#040712] w-full h-full min-h-screen">
    <slot />
  </body>
</html>
<!-- #f5c5ac -->
<!-- #ffefe4 -->
<!-- #F8FDFE -->