<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Marcus's Github Page</title>
  </head>
  <body class="text-left bg-[#ffefe4] w-full h-full min-h-screen">
    <slot />
  </body>
</html>
<!-- #f5c5ac -->