---

---

<script src="../components/scripts/gsap/particles.js"></script>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Marcus's Home Page</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6164995761724989"
     crossorigin="anonymous"></script>
  </head>
  <body
    class="w-full h-full min-h-screen bg-cover bg-fixed bg-center bg-[url('../assets/parabolic-rectangle.svg')]"
  >
  <canvas
  class="absolute top-0 left-0 w-full h-full pointer-events-none -z-1 opacity-35"
  ></canvas>
    <slot />
  </body>
  <!-- #f5c5ac -->
  <!-- #ffefe4 -->
  <!-- #F8FDFE -->
</html>
